.tags {
    margin-bottom: 30px;
    display: none;

    &__item {
        text-decoration: none;
        color: inherit;

        font-family: "g-bd";
        display: inline-block;
        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 11px;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        transition: $anim;
        background-color: $br-l-gr;
        color: $tx-primary;
        position: relative;
        margin-top: 3px;
        letter-spacing: 0.05em;
        margin-right: 10px;
        margin-bottom: 10px;
        border: none;
        outline: none;

        &:hover {
            background-color: darken($br-l-gr, 10%);
        }

        &:active {
            transform: scale(0.98);
            background-color: darken($br-l-gr, 20%);
        }
    }
}
