// br stands for Brand color

$tx-primary: #34495E;
$tx-black: #000000;

$br-white: #ffffff;
$tx-d-grey: #282828;

$br-orange: #F05E0C;
$br-l-gr: #ECF0F1;
$br-red: #E74C3C;
$br-yellow: #F1C40F;
$br-green: #2ECC71;
$br-blue: #2980B9;
$br-dark: #34495E;

// animation by hover

$anim: 0.2s ease;
