<div class="wrapper" style=" margin-top: 120px;">
    <style>
        .example_responsive_3 { height: 130px;  }
    </style>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Sipacks - new (bottom) -->
    <ins class="adsbygoogle example_responsive_3"
        style="display:block"
        data-ad-client="ca-pub-7310416575626575"
        data-ad-slot="6845662101"
        data-ad-format="fluid"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>


