<div class="wrapper" style="margin-top: 10px; margin-bottom: 120px;">
    <style>
    .example_responsive_2 { height: 130px; }
    </style>


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Sipacks - new (top) -->
    <ins class="adsbygoogle example_responsive_2"
        style="display:block"
        data-ad-client="ca-pub-7310416575626575"
        data-ad-slot="7756446769"
        data-ad-format="fluid"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>


