<nav class="nav">
    <div class="nav__wrapper wrapper blur-shadow-bottom">
        <a href="index.html" class="nav__logo" data-aos="fade-down" data-aos-delay="400">
            <img src="img/vector/logo.svg" alt="logo">
        </a>

        <ul class="main-menu nav__menu">
            <li class="menu-item nav__item"><a href="#packs">Игровые Пакеты</a></li>
            <li class="menu-item nav__item" ><a href="https://www.donationalerts.com/r/sipacks" target="_blank" rel="noopener">Поддержать</a></li>
            <li class="menu-item nav__item js-open-modal" data-modal="1"><a href="#">Написать нам</a></li>
        </ul>
        <button class="nav__burger">Menu</button>
    </div>
</nav>