<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Primary Meta Tags -->
<title>Лучшие вопросы и пакеты для игры SIGame (Cвоя Игра) | SIPacks.ru</title>
<meta name="title" content="Лучшие вопросы и пакеты для игры SIGame (Cвоя Игра) | SIPacks.ru">
<meta name="description" content="Рейтинг игровых пакетов для игры Своя Игра. Мы собрали в одном месте только лучшие паки для Cвоей Игры, разбили их по категориям и добавили поиск. Теперь вы можете легко найти, скачать и добавить свои паки для SIGame!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://sipacks.ru/">
<meta property="og:title" content="Лучшие вопросы и пакеты для игры SIGame (Cвоя Игра) | SIPacks.ru">
<meta property="og:description" content="Рейтинг игровых пакетов для игры Своя Игра. Мы собрали в одном месте только лучшие паки для Своей Игры, разбили их по категориям и добавили поиск. Теперь вы можете легко найти, скачать и добавить свои паки для SIGame!">
<meta property="og:image" content="https://sipacks.ru/img/raster/web-logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sipacks.ru/">
<meta property="twitter:title" content="Лучшие вопросы и пакеты для игры SIGame (Cвоя Игра) | SIPacks.ru">
<meta property="twitter:description" content="Рейтинг игровых пакетов для игры Своя Игра. Мы собрали в одном месте только лучшие паки для Своей Игры, разбили их по категориям и добавили поиск. Теперь вы можете легко найти, скачать и добавить свои паки для SIGame!">
<meta property="twitter:image" content="https://sipacks.ru/img/raster/web-logo.png">

<meta name="robots" content="index, follow">
<meta name="theme-color" content="#F05E0C">
